{% extends 'galaxy/base.html' %}
{% load compress %}
{% load sims_tags %}
{% load static %}
{% include 'galaxy/layout/head-seo.html' with seo=seo %}

{% block body %}
  <div class="wrapper">
    <div id="page-content-inner">
      <div class="crayons-layout crayons-layout--3-cols crayons-layout--article">
        {% include 'galaxy/layout/sidebar-left.html' with theme_config=theme_config %}
        <main id="main-content" class="crayons-layout__content gap-4">
            {% include "galaxy/sims/sim-fengshuifortune.html" with theme_folder=theme_folder SimFengShuiFortunePage=SimFengShuiFortunePage %}
            {% if relatedPages%}
              <div class="suggest">
                <h3 class="suggest__title">Mọi người cũng tìm kiếm</h3>
                <div class="suggest__content">
                  {% for item in relatedPages %}
                    <a href="{{ item.link }}">
                      <div class="suggest__content--title">{{ item.title }} </div>
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
            {% if content %}
              <div class="seo">
                <div class="seo__content">
                  {{ content }}
                </div>
              </div>
            {% endif %}
        </main>
        {% include 'galaxy/layout/sidebar.html' %}
      </div>
    </div>
  </div>
{% endblock %}

