<main id="main-content" class="crayons-layout__content gap-4 success">
  <div class="error-title success-title">
    <img
      alt="CopyOrderFail"
      src="/static/{{tenant.theme_folder}}/images/success/OrderFail.svg"
    />
    <div class="success-title__text">
      <div class="success-title__text--error">
        Không tìm thấy số sim yêu cầu
      </div>

      <div class="success-title__text--nomal">
        Số sim hiện không tồn tại trong kho của chúng tôi, hoặc do đã bán hết.
        Vui lòng tìm kiếm các sản phẩm khác của chúng tôi.
      </div>
    </div>
  </div>

  <div class="success-btn">
    <div class="success-btn__link--text">
      <a class="success-btn__link" href="/">Trở về trang chủ</a>
    </div>
  </div>
</main>
