{% extends 'admin/change_list.html' %}
{% load compress %} 
{% load sims_tags %} 
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  {% compress css file theme_customize_price_customize %}
  <link
    type="text/x-scss"
    href="{% static 'theme_config/css/theme_customize_price.scss' %}"
    rel="stylesheet"
    media="screen"
  />
  {% endcompress %}
{% endblock %}


{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}
 
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>
<div class="btn-clear-cache">
  <a href="/clear">Xoá cache</a>
</div>
{% endblock %}
 
{% block result_list %}
<div class="theme-customize-wrapper">
  <div class="container">
    <input type="radio" class="tab-toggle" name="price-sell" id="tab1" value="sell" checked>
    <div class="header-customize">Tuỳ chỉnh giá</div>
    <div class="tab-container">
      <div class="tab-content">
        {% include "components/customize_sell_item.html" with tenant=tenant %}
      </div>
    </div>
  </div>
  <input type="hidden" id="id_del_uuid" name="del_uuid" value=""/>
  {% include "components/add_customize_price.html" with tenant=tenant %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

<script src="{% static 'theme_config/js/customize_price.js' %}?v={{ current_time }}"></script>
{% endblock result_list %}
