<div
    class="modal fade in"
    id="customize-modal"
    role="dialog"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Thêm mới Webhook</h2>
                <span class="close" data-dismiss="modal">
                    <img
                        class="preview"
                        src="../../static/theme_config/images/icon_close.svg"
                        style="
                            max-width: 100%;
                            height: auto;
                            background-size: cover;
                            background-position: center center;
                        "
                    />
                </span>
            </div>
            <div class="modal-body">
                <form
                    method="post"
                    action="."
                    id="form_add_price"
                    class="form-customize"
                >
                    {% csrf_token %}
                    <div class="fm-customize">
                        <div class="fm-customize__item">
                            <span class="fm-customize__item__label">URL</span>
                            <input class="form-control" type="text" name="webhook_url">
                        </div>
                        <div class="fm-customize__item">
                            <span class="fm-customize__item__label">Content</span>
                            <input type="hidden" id="id_uuid" name="uuid" value=""/>
                            <textarea class="form-control area" type="text" name="content"></textarea>
                            <p id="content-error" class="error-message" style="display: none;">Content must be a valid JSON object.</p>
                        </div>
                        <p class="fm-customize__item__content__note">Content được nhập phải có dạng JSON.<br>VD: {"greeting": "hello", "my_name": {name},}</p>
                    </div>
                    <div class="modal-footer" style="margin-top: 15px">
                        <div class="button-group">
                            <button
                                type="button"
                                class="btn btn--cancel-item"
                                data-dismiss="modal"
                            >
                                Huỷ
                            </button>
                            <button type="submit" class="btn btn--add-item">
                                Áp dụng
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
