.btn {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: solid 1px $color-primary;
  height: 40px;
  text-align: center;
  line-height: 38px;
  background-color: $color-primary;
  color: $color_bg;
  font-weight: 600;
  padding-left: 16px;
  padding-right: 16px;

  &.--border {
    color: $color-primary;
    background-color: $color_bg;
  }

  &.--inline {
    display: inline-block;
    width: auto;
  }
}