.process {

  &__bar {
    height: 4px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position: relative;
    margin-bottom: 12px;

    &__current {
      height: 8px;
      position: absolute;
      left: 0;
      top: -2px;
      border-radius: 4px;
      background-color: $color-primary;

      &:before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $color_bg;
        z-index: 1;
        right: -12px;
        top: 50%;
        margin-top: -12px;
        box-shadow: 0 0 0 12px rgba(#FE6E7C, 0.5);
      }

      &__value {
        font-size: 12px;
        background-color: $color_bg;
        position: absolute;
        z-index: 2;
        border-radius: 4px;
        height: 26px;
        display: flex;
        align-items: center;
        padding: 0 8px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        bottom: 100%;
        margin-bottom: 15px;
        right: 0;
        transform: translateX(50%);

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 4px solid $color_bg;
          bottom: -4px;
          left: 50%;
          margin-left: -4px;
        }
      }
    }
  }

  &__step {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
}