.tag {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  border: 1px solid #D3D5D8;
  border-radius: 8px;
  line-height: 24px;
  padding: 3px 12px;
  cursor: pointer;
  min-width: 32px;
  height: 30px;
  text-align: center;

  img {
    max-height: 24px;
  }

  &__highlight {
    color: $color-primary;
  }
}