<div class="modal">
    <div class="modal-content">
        <span class="close-button">×</span>
        <div class="flex flex-col gap-8 mt-8">
            <div class="">
                <div class="modal-title">Xác nhận xóa bảng cũ ?</div>
                <div class="model-sub-title">Dữ liệu cũ sẽ bị xóa hết</div>
            </div>
            <div class="flex gap-4 items-center justify-center mb-4 acc">
                <button type="submit" class="btn-button bg-blue-600 border-blue-600 color-white" name="submit-form">
                    Đồng ý
                </button>
                <button type="button" class="btn-button bg-white border-gray cancel-button">
                    Huỷ bỏ
                </button>
            </div>
        </div>
    </div>
</div>
