{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/admin/sims/css/custom_action_modal.css' %}">
  <script src="{% static '/admin/sims/js/admin_custom.js' %}"></script>
{% endblock %}

{% block object-tools-items %}
{{ block.super}}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var firstListItem = document.querySelector('.object-tools li:first-child');
        if (firstListItem) {
            var firstLink = firstListItem.querySelector('a');
            if (firstLink) {
                firstLink.textContent = 'Tạo đơn hàng mới';
                firstLink.setAttribute('title', 'Tạo đơn hàng mới');
            }
        }
    });
</script>
{% endblock %}
